{% load i18n static %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <title>Riso Tech</title>
    <meta name="description" content="Risotech" />
    <meta name="keywords" content="website, crm, erp, marketing, automation" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.position" content="14.058324;108.277199" />
    <meta name="ICBM" content="14.058324, 108.277199" />
    <meta name="robots" content="INDEX, FOLLOW" />
    <meta property="og:title" content="Risotech" />
    <meta property="og:description" content="Risotech" />
    <meta property="og:image" content="" />
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://risotech.vn" />
    <meta http-equiv="Content-Language" content="vi-vn" />
    <link rel="canonical" href="https://risotech.vn" />
    <link rel="icon" href="{% static 'risotech/images/fav_icon.ico' %}" />
    <link rel="stylesheet" href="{% static 'risotech/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'risotech/css/animations.css' %}" />
    <link rel="stylesheet" href="{% static 'risotech/css/font-awesome.css' %}" />
    <link rel="stylesheet"
          href="{% static 'risotech/css/main.css' %}"
          class="color-switcher-link" />
    <script src="{% static 'risotech/js/vendor/modernizr-2.6.2.min.js' %}"></script>
    <script defer src="{% static 'risotech/js/compressed.js' %}"></script>
    <script defer src="{% static 'risotech/js/main.js' %}"></script>
  </head>
  <body>
    {% include 'cms/ui-cms-widget.html' with sriptJQUERY="False" %}
    <div class="preloader">
      <div class="preloader_image"></div>
    </div>
    <!-- wrappers for visual page editor and boxed version of template -->
    <div id="canvas">
      <div id="box_wrapper">
        {% block content %}
        {% endblock content %}
        <footer class="page_footer corner-footer ds s-pt-30 s-pb-0 s-pb-lg-10 s-pb-xl-50 c-gutter-60 s-parallax">
          <div class="container">
            <div class="container">
              <div class="row">
                <div class="divider-20 d-none d-xl-block"></div>
                <div class="col-md-12 mt-4 text-center animate mb-4"
                     data-animation="fadeInUp">
                  <img class="margin-negative logo-navbar"
                       src="{% static 'risotech/images/logo.svg' %}"
                       alt="" />
                </div>
                <div class="col-md-12 text-center animate">
                  <p>
                    <!-- djlint:off -->&copy;<!-- djlint:on --> Copyright <span class="copyright_year">2019</span> Riso
                    Tech Co., Ltd.
                    Build Version <span class="copyright_year">{{ BUILD_VERSION }}</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </footer>
        {#        <section class="page_copyright light-copy cs s-py-20 s-py-lg-5 s-parallax copyright">#}
        {#          <div class="container">#}
        {#            <div class="row align-items-center">#}
        {#              <div class="divider-20 d-none d-lg-block"></div>#}
        {#              <div class="col-md-12 text-center">#}
        {#                <p>#}
        {#                  <!-- djlint:off -->&copy;<!-- djlint:on --> Copyright <span class="copyright_year">2019</span> Riso Tech Co., Ltd.#}
        {#                  Build Version <span class="copyright_year">{{ BUILD_VERSION }}</span>#}
        {#                </p>#}
        {#              </div>#}
        {#              <div class="divider-20 d-none d-lg-block"></div>#}
        {#            </div>#}
        {#          </div>#}
        {#        </section>#}
      </div>
      <!-- eof #box_wrapper -->
    </div>
    <!-- eof #canvas -->
  </body>
</html>
