{% load i18n static %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <title>Riso Tech</title>
    <meta name="description" content="Risotech" />
    <meta name="keywords" content="website, crm, erp, marketing, automation" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.position" content="14.058324;108.277199" />
    <meta name="ICBM" content="14.058324, 108.277199" />
    <meta name="robots" content="INDEX, FOLLOW" />
    <meta property="og:title" content="Risotech" />
    <meta property="og:description" content="Risotech" />
    <meta property="og:image" content="" />
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://risotech.vn" />
    <meta http-equiv="Content-Language" content="vi-vn" />
    <link rel="canonical" href="https://risotech.vn" />
    <link rel="icon" href="{% static 'risotech/images/fav_icon.ico' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" />
    <link rel="stylesheet" href="{% static 'risotech/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'risotech/css/animations.css' %}" />
    <link rel="stylesheet" href="{% static 'risotech/css/font-awesome.css' %}" />
    <link rel="stylesheet"
          href="{% static 'risotech/css/main.css' %}"
          class="color-switcher-link" />
    {% swal_message_media True %}
    <script src="{% static 'risotech/js/vendor/modernizr-2.6.2.min.js' %}"></script>
    <script defer src="{% static 'risotech/js/compressed.js' %}"></script>
    <script defer src="{% static 'risotech/js/main.js' %}"></script>
    {% cms_media False %}
  </head>
  <body>
    <div class="preloader">
      <div class="preloader_image"></div>
    </div>
    <!-- wrappers for visual page editor and boxed version of template -->
    <div id="canvas">
      <div id="box_wrapper">
        {% block content %}
        {% endblock content %}
      </div>
      <!-- eof #box_wrapper -->
    </div>
    <!-- eof #canvas -->
    {% include 'riso-message/messaging.html' %}
    {% include 'riso-cms/cms-controller.html' %}
  </body>
</html>
