@font-face {
  font-family: 'SVN-Poppins';
  src: url("../fonts/SVN-Poppins Regular.otf") format("opentype");
}

@font-face {
  font-family: 'SVN-Poppins';
  src: url("../fonts/SVN-Poppins Bold.otf") format("opentype");
  font-weight: bold;
}
